:root {
  --color-white: #fff;
  --color-offwhite: #fffdfb;
  --color-gray-dark: #3a3845;
  --color-gray-medium: #807f86;
  --color-gray-light: #a6a6a8;
  --color-gray-lighter: #e5e5e5;
  --color-gray-lightest: #f7f6f5;
  --color-brown: #826f66;
  --color-purple: #595667;
  --color-blue: #cac9cf;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  font-family: "Garamond", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  padding: 22px 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cart {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.header__list {
  display: flex;
  gap: 20px 60px;
}

.header__link {
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  background-color: var(--color-brown);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.header__link:hover {
  color: var(--color-brown);
}

.header__link:hover::after {
  width: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 10px 24px;
}

.top {
  background: url(../images/top-bg.jpg) center no-repeat;
  background-size: cover;
}

.top__inner {
  max-width: 420px;
  background: var(--color-brown);
  padding: 161px 0;
  text-align: center;
}

.top__text {
  line-height: 150%;
  color: var(--color-offwhite);
  margin: 42px 0 20px;
}

.top__title {
  max-width: 273px;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-offwhite);
  margin: 0 auto 42px;
}

.top__btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--color-brown);
  padding: 15px 71px;
  transition: 0.7s ease;
}

.top__btn:hover {
  background: blanchedalmond;
}

.catalog {
  padding: 80px 15px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 30px;
}

.catalog__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.catalog__link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
}

.catalog__link {
  position: relative;
}

.catalog__link::after {
  content: "";
  position: absolute;
  background-color: var(--color-brown);
  height: 3px;
  width: 0;
  left: 0px;
  bottom: -10px;
  transition: 0.3s;
}

.catalog__link:hover {
  color: #826f66;
  color: var(--color-brown);
}

.catalog__link:hover::after {
  width: 100%;
}

.discount {
  padding: 0 15px;
}

.discount__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discount__list {
  background: var(--color-gray-lightest);
  padding: 64px 78px;
  text-align: center;
  max-width: 555px;
}

.discount__title {
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 24px;
}

.discount__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
  margin-bottom: 32px;
}

.discount__btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--color-gray-dark);
  background-color: transparent;
  transition-duration: 0.5s;
}

.discount__btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.discount__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.best {
  padding: 80px 15px;
}

.best__title {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 48px;
}

.best__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 30px;
}

.best__item {
  flex-basis: 255px;
}

.best__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.best__item-content {
  display: flex;
  flex-direction: column;
}

.best__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: left;
  margin: 24px 0 12px;
}

.best__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--color-gray-dark);
  margin-bottom: 18px;
}

.best__text {
  font-size: 14px;
  line-height: 157%;
  color: var(--color-gray-medium);
  margin-bottom: 28px;
}

.best__btn {
  font-family: "Inter", sans-serif;
  border: 1px solid #3a3845;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
  padding: 15px 80px;
  transition: 0.7s ease;
}

.best__btn:hover {
  background-color: var(--color-gray-light);
}

.info {
  padding: 0 15px;
}

.info__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info__made {
  display: flex;
  flex-direction: column;
  background: var(--color-gray-lightest);
  padding: 64px 60px;
  max-width: 555px;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info__history {
  display: flex;
  flex-direction: column;
  background: var(--color-gray-lightest);
  padding: 64px 60px;
  max-width: 555px;
}

.info__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
  margin-bottom: 32px;
}

.info__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--color-gray-dark);
  transition-duration: 0.5s;
}

.info__link:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.info__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.discover {
  padding: 80px 15px;
}

.discover__title {
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}

.discover__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 30px;
}

.discover__item {
  flex-basis: 255px;
}

.discover__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.discover__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 24px 0 12px;
}

.discover__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 18px;
}

.discover__text {
  line-height: 157%;
  color: var(--color-gray-medium);
  margin-bottom: 28px;
}

.discover__btn {
  font-family: "Inter", sans-serif;
  border: 1px solid #3a3845;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
  padding: 15px 80px;
  transition: 0.7s ease;
}

.discover__btn:hover {
  background-color: var(--color-gray-light);
}

.blog {
  padding: 0 15px;
}

.blog__title {
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}

.blog__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__list {
  background-color: var(--color-gray-lightest);
  padding: 64px 83px;
  text-align: center;
  max-width: 555px;
}

.blog__list-tab {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-medium);
  margin-bottom: 24px;
}

.blog__list-title {
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.blog__list-text {
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
  margin-bottom: 32px;
}

.blog__list-link {
  display: block;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--color-purple);
  transition-duration: 0.5s;
}

.blog__list-link:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.blog__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mail {
  padding: 80px 15px;
}

.mail__list {
  display: flex;
  flex-direction: column;
}

.mail__text {
  font-weight: 600;
  line-height: 137%;
  text-align: center;
  color: var(--color-purple);
  margin-bottom: 24px;
}

.mail__title {
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.mail__form {
  max-width: 389px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin: 0 auto;
}

.mail__email {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #3a3845;
  background-color: transparent;
  padding: 14px 70px;
  max-width: 389px;
  width: 100%;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
}

.mail__btn {
  border: 1px solid #3a3845;
  padding: 11px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
  margin: 0 auto;
  transition: 0.7s ease;
}

.mail__btn:hover {
  background-color: var(--color-gray-light);
}

.footer {
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  background-color: var(--color-gray-dark);
  padding: 48px 32px 0;
  position: relative;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 80px 102px;
}

.divider {
  width: 1px;
  background-color: var(--color-blue);
}

.footer__box-logo {
  display: block;
  width: 145px;
  height: 38px;
}

.footer__box-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--color-gray-lighter);
  margin: 24px 0 32px;
  max-width: 303px;
}

.footer__box-link {
  border: 1px solid #f7f6f5;
  font-family: "Inter", sans-serif;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-lighter);
  max-width: 142px;
  transition: 0.7s ease;
}

.footer__box-link:hover {
  background-color: var(--color-gray-light);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  gap: 0 72px;
  margin-bottom: 46px;
}

.footer__about-title,
.footer__services-title,
.footer__portfolio-title {
  font-weight: 600;
  line-height: 137%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 32px;
}

.footer__about-item,
.footer__services-item,
.footer__portfolio-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--color-gray-lighter);
  margin-bottom: 24px;
  text-align: left;
  transition-duration: 0.5s;
}

.footer__about-item:hover,
.footer__services-item:hover,
.footer__portfolio-item:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.footer__end {
  padding: 32px 0;
  border-top: 1px solid #cac9cf;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 10px;
}

.footer__end-text {
  line-height: 137%;
  text-align: center;
  color: var(--color-gray-light);
}

.footer__end-link {
  line-height: 137%;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-gray-medium);
  transition: 0.7s ease;
}

.footer__end-link:hover {
  color: var(--color-white);
}

.menu-btn {
  display: none;
}

/*------ABOUT------*/

.header__about {
  border-bottom: 1px solid #cac9cf;
}
.about__top {
  padding: 64px 15px;
}
.about__top-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-gray-dark);
  margin-bottom: 24px;
}

.about__top-text {
  max-width: 436px;
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
}

.timeline {
  padding: 0 15px;
}

.timeline__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timeline__box {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-lightest);
  padding: 97px 60px;
}

.timeline__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
}

.timeline__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-purple);
  margin-top: 24px;
}

.timeline__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.process {
  padding: 80px 16px 0;
}

.process__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.process__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.process__content {
  max-width: 555px;
  padding: 34px 34px 34px 50px;
  text-align: left;
}

.process__title {
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0.04em;
  color: var(--color-gray-dark);
  margin-bottom: 30px;
}

.process__caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--color-gray-dark);
  margin-bottom: 20px;
}

.process__text {
  line-height: 150%;
  color: var(--color-purple);
  margin-bottom: 32px;
}

.process__text:last-child {
  margin-bottom: 0;
}

.team {
  padding: 80px 15px;
}

.team__title {
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
  margin-bottom: 48px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray-dark);
  margin-top: 20px;
}

.team__profession {
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--color-gray-medium);
  margin-top: 5px;
}

@media (max-width: 1140px) {
  .info__list {
    flex-direction: column-reverse;
    align-items: center;
  }
  .blog__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__box {
    align-content: center;
  }
  .divider {
    display: none;
  }
  .footer__content {
    justify-content: center;
    border-top: 1px solid #cac9cf;
    padding: 30px 0 6px;
    margin-bottom: 0;
  }
  .timeline__content-sec {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 940px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .logo {
    margin: 0 auto;
    position: relative;
    z-index: 50;
  }
  .header__cart {
    display: inline-block;
    position: relative;
    z-index: 50;
  }
  .cart {
    display: none;
  }
  .menu-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }
  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--color-purple);
    height: 2px;
    transition: 0.3s ease;
  }
  .btn-line:nth-child(1) {
    top: 5px;
  }
  .btn-line:nth-child(2) {
    top: 15px;
  }
  .btn-line:nth-child(3) {
    top: 15px;
  }
  .btn-line:nth-child(4) {
    top: 26px;
  }
  .menu-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }
  .nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;
    z-index: 1;
  }
  .menu-open .nav {
    transform: translateY(0%);
  }
  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .header__item {
    font-size: 40px;
  }
  .header__nav-list {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .top__inner {
    position: relative;
    max-width: 100%;
    transform: translateY(100%);
    z-index: 0;
    margin-bottom: 666px;
  }
  .best {
    padding: 40px 0;
  }
  .best__list {
    gap: 48px 10px;
  }
  .best__item {
    flex-basis: 190px;
  }
  .best__btn {
    padding: 15px 47px;
  }
  .discover {
    padding: 40px 0;
  }
  .discover__list {
    gap: 48px 10px;
  }
  .discover__item {
    flex-basis: 190px;
  }
  .discover__btn {
    padding: 15px 47px;
  }
  .mail {
    padding: 40px 0;
  }
  .footer {
    padding: 32px 20px 0;
  }
  .footer__box {
    align-content: start;
    padding: 0 86px 30px 0;
  }
  .footer__content {
    justify-content: flex-start;
    padding-bottom: 30px;
  }
  .footer__about-item:last-child,
  .footer__services-item:last-child {
    margin-bottom: 48px;
  }
  .footer__portfolio-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 430px) {
  .top__inner {
    padding: 47px 70px;
    width: 430px;
    margin-bottom: 430px;
  }
  .top__text {
    margin-top: 25px;
  }
  .top__title {
    font-size: 31px;
    margin-bottom: 30px;
  }
  .top__btn {
    font-size: 12px;
    padding: 15px 50px;
  }
  .catalog {
    padding: 30px 0;
  }
  .discount {
    padding: 0;
  }
  .discount__list {
    padding: 50px 16px;
  }
  .info {
    padding: 0;
  }
  .info__made {
    padding: 40px 16px;
  }
  .info__history {
    padding: 40px 16px;
  }

  .blog {
    padding: 30px 0 0;
  }
  .blog__list {
    padding: 40px 16px;
  }
  .mail {
    padding: 40px 15px;
  }
  .timeline {
    padding: 0;
  }
  .timeline__content {
    flex-direction: column-reverse;
  }
  .timeline__content-sec {
    flex-direction: column;
  }
  .timeline__box {
    padding: 72px 48px;
  }
  .process {
    padding: 48px 0 0;
  }
  .process__content {
    padding: 36px 12px 36px 20px;
  }
  .process__title {
    margin-bottom: 24px;
  }
  .process__caption {
    margin-bottom: 15px;
  }
  .process__text {
    margin-bottom: 24px;
  }
}
